.film__img{
    height: 300px;
    width: 200px;
    object-fit: cover;
    box-shadow: 4px 4px 8px rgb(132, 198, 255);
    cursor: pointer;
}

.film__img:hover{
    opacity: 0.6;
}

.film__fav{
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

.film__fav:hover{
    color: red;
    font-size: 1.2rem;
}

@media only screen and (max-width:600px){
    .film__fav{
        position: static;
    }

 }