.header{
    margin: 0;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 85% 75% / 80%;
    background-image: linear-gradient( 135deg, #9f05ff69 10%,  rgb(132, 198, 255) 100%);
}

.header__title{
    padding: 10px;
}

.user__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user__avatar{
    max-width: 50px;
}

@media only screen and (max-width:600px){
   .header{
       border-radius: 0;
       font-size: .8rem;
   }
}