.header{
    background-color: rgb(132, 198, 255);
    margin: 0;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__title{
    padding: 10px;
}

.user__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user__avatar{
    max-width: 50px;
}