.search__container{
    padding-top: 1rem;
}

.search__inputs{
    display: flex;
}

.search__input{
    margin-right: 1rem;
    width: 300px;
}

.search__btn{
    border: none;
    background-color: inherit;
    cursor: pointer;
}