.container{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__form{
    background-image: linear-gradient( 135deg, #dfc8ee69 10%,  rgb(132, 198, 255) 100%);
    padding: 5rem 3rem;
    max-width: 500px;
    width: 95%;
    border-radius: 1rem;
    text-align: center;
}
.form__title{
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 2.4rem;
}
.form__fields{
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}

input{
    border: 1px solid black;
    padding: 1rem;
    flex: 1;
    width: 100%;
    border-radius: 15px;
    outline: none;
}

label{
    flex: 0 100px; 
}

.form__submit{
    text-transform: uppercase;
    font-size: 1.4rem;
    background-color: rgb(46, 158, 255);
    cursor: pointer;
    border: none;
    transition-duration: 0.4s;
}

.form__submit:hover{
    font-size: 1.6rem;
    background-color:  rgb(230, 240, 255);
    border: 1px solid  rgb(46, 158, 255);;
}

@media only screen and (max-width:600px){
    .form__fields{
        flex-direction: column;

    }
    label{
        flex: auto;
        margin: 1rem;
    }
}